In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
data2 = pd.read_csv('data.txt', delimiter="\t")
data2["Population"] = pd.to_numeric(data2["Population"], errors='coerce')
 .head()

,Notes,Census Region,Census Region Code,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,Population,Crude Rate
0,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,< 1 year,1,All other non-drug and non-alcohol causes,O9,4528.0,817345.0,554.0
1,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,1-4 years,1-4,All other non-drug and non-alcohol causes,O9,585.0,3428814.0,17.1
2,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,5-14 years,5-14,All other non-drug and non-alcohol causes,O9,995.0,9636129.0,10.3
3,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,15-24 years,15-24,Drug poisonings (overdose) Unintentional (X40-...,D1,906.0,9759558.0,9.3
4,NaN,Census Region 1: Northeast,CENS-R1,Connecticut,9.0,15-24 years,15-24,Drug poisonings (overdose) Suicide (X60-X64),D2,56.0,9759558.0,0.6

In [33]:
data2["Drug/Alcohol Induced Cause"].unique()

array(['All other non-drug and non-alcohol causes',
       'Drug poisonings (overdose) Unintentional (X40-X44)',
       'Drug poisonings (overdose) Suicide (X60-X64)',
       'Drug poisonings (overdose) Undetermined (Y10-Y14)',
       'All other drug-induced causes',
       'Alcohol poisonings (overdose) (X45, X65, Y15)',
       'All other alcohol-induced causes',
       'Drug poisonings (overdose) Homicide (X85)', nan], dtype=object)

In [34]:
data_filtered = data2[["State", "Deaths", "Population", "Ten-Year Age Groups Code"]][data2["Drug/Alcohol Induced Cause"] == "Drug poisonings (overdose) Suicide (X60-X64)"]


data_filtered.head()

          State  Deaths  Population Ten-Year Age Groups Code
4   Connecticut    56.0   9759558.0                    15-24
11  Connecticut   104.0   9050985.0                    25-34
18  Connecticut   206.0  10498761.0                    35-44
25  Connecticut   345.0  11149529.0                    45-54
32  Connecticut   218.0   8907637.0                    55-64

In [35]:
data_filtered["Ten-Year Age Groups Code"].unique()

array(['15-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84',
       '85+', '5-14'], dtype=object)

In [36]:
data_filtered["State"].unique()

array(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont', 'New Jersey', 'New York',
       'Pennsylvania', 'Illinois', 'Indiana', 'Michigan', 'Ohio',
       'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska',
       'North Dakota', 'South Dakota', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Maryland', 'North Carolina',
       'South Carolina', 'Virginia', 'West Virginia', 'Alabama',
       'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana',
       'Oklahoma', 'Texas', 'Arizona', 'Colorado', 'Idaho', 'Montana',
       'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California',
       'Hawaii', 'Oregon', 'Washington'], dtype=object)

In [37]:
data_filtered.groupby(["State", "Ten-Year Age Groups Code"]).agg({"Deaths": "sum"})

                                  Deaths
State   Ten-Year Age Groups Code
Alabama 15-24                       46.0
        25-34                      123.0
        35-44                      240.0
        45-54                      252.0
        55-64                      159.0
...                                  ...
Wyoming 25-34                       34.0
        35-44                       58.0
        45-54                       61.0
        55-64                       43.0
        65-74                       20.0

[382 rows x 1 columns]

In [38]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 382 entries, 4 to 2852
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     382 non-null    object
 1   Deaths                    382 non-null    float64
 2   Population                382 non-null    float64
 3   Ten-Year Age Groups Code  382 non-null    object
dtypes: float64(2), object(2)
memory usage: 14.9+ KB

In [49]:
grouded_data = data_filtered.groupby(["State", "Ten-Year Age Groups Code"]).agg({"Deaths": "sum"})#.sort_values("Deaths", axis = 0, ascending = False)
# grouded_data
grouded_data["total_population"] = data_filtered.groupby(["State", "Ten-Year Age Groups Code"]).agg({"Population": "sum"})
grouded_data["proportion"] = grouded_data["Deaths"] /grouded_data["total_population"] * 100

grouded_data.sort_values("proportion", axis = 0, ascending = False).head(50)

                                         Deaths  total_population  proportion
State          Ten-Year Age Groups Code
Nevada         45-54                      495.0         7394176.0    0.006694
               55-64                      373.0         6242566.0    0.005975
New Mexico     45-54                      331.0         5593843.0    0.005917
Utah           45-54                      357.0         6120613.0    0.005833
Nevada         85+                         34.0          626513.0    0.005427
New Mexico     55-64                      256.0         4877001.0    0.005249
Colorado       45-54                      765.0        14706874.0    0.005202
Utah           55-64                      246.0         4765819.0    0.005162
New Mexico     35-44                      272.0         5394331.0    0.005042
Oregon         45-54                      556.0        11068766.0    0.005023
Utah           35-44                      364.0         7249820.0    0.005021
Arizona        45-54                      806.0        16460004.0    0.004897
Montana        45-54                      139.0         2923806.0    0.004754
Florida        45-54                     2445.0        53740265.0    0.004550
Colorado       55-64                      516.0        11586052.0    0.004454
Idaho          45-54                      178.0         4115107.0    0.004326
New Hampshire  45-54                      185.0         4327374.0    0.004275
Montana        35-44                      109.0         2589538.0    0.004209
Idaho          35-44                      173.0         4147445.0    0.004171
Nevada         35-44                      326.0         7815996.0    0.004171
Arizona        55-64                      589.0        14252428.0    0.004133
Nevada         65-74                      175.0         4261978.0    0.004106
Washington     45-54                      777.0        19688814.0    0.003946
Florida        55-64                     1856.0        47222341.0    0.003930
Wyoming        35-44                       58.0         1483323.0    0.003910
Maine          45-54                      166.0         4271963.0    0.003886
Colorado       35-44                      586.0        15246632.0    0.003843
Delaware       45-54                       99.0         2578580.0    0.003839
Oklahoma       45-54                      392.0        10278251.0    0.003814
North Carolina 45-54                     1032.0        27062483.0    0.003813
Wyoming        45-54                       61.0         1616817.0    0.003773
Kansas         45-54                      297.0         7909503.0    0.003755
Arkansas       45-54                      300.0         7994795.0    0.003752
Maine          55-64                      140.0         3733769.0    0.003750
Wisconsin      45-54                      619.0        16940578.0    0.003654
Missouri       45-54                      624.0        17125000.0    0.003644
Oregon         55-64                      352.0         9672811.0    0.003639
Vermont        55-64                       63.0         1732401.0    0.003637
Washington     55-64                      587.0        16177440.0    0.003629
Montana        55-64                       96.0         2656508.0    0.003614
Tennessee      45-54                      662.0        18371354.0    0.003603
Vermont        45-54                       72.0         2003122.0    0.003594
Rhode Island   45-54                      112.0         3193214.0    0.003507
Maine          35-44                      132.0         3766642.0    0.003504
South Dakota   45-54                       79.0         2256596.0    0.003501
Oregon         35-44                      381.0        10886438.0    0.003500
Vermont        35-44                       61.0         1747808.0    0.003490
Nevada         75-84                       73.0         2097521.0    0.003480
Arkansas       35-44                      272.0         7887145.0    0.003449
Missouri       35-44                      568.0        16540574.0    0.003434